<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <div class="username">
            <label>
                <b>Username</b>
                <input type="text" placeholder="Jira username" name="username" required>
            </label>
        </div>
        <div class="password">
            <label>
                <b>Password</b>
                <input type="password" placeholder="Password" name="password" required>
            </label>
        </div>
        <div class="button">
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>